.fondoAzul{
  background: lightblue !important;
}

.fondoVerde{
  background: lightgreen !important;
}

.letraGrande{
  font-size:20px;
}

.activo{
  font-weight: bold;
  background: green;
  color: white;
}
